.form-container {
  background-color: lightgoldenrodyellow;
  padding: 1.5rem 2rem;
}

.form-container h2 {
  margin: 0 0 1.5rem 0;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
}

button[type="submit"] {
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background-color: black;
  color: white;
  margin-top: 1rem;
}

.form-container form {
  display: grid;
  width: 300px;
  /* background-color: aquamarine; */
}
